@model WebsiteKaichiTokyo.Models.Account

@{
    ViewData["Title"] = "Sửa thông tin tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="section-header">
    <h1>Sửa thông tin tài khoản</h1>
</div>
<div class="section-body">
    <div class="card card-secondary">
        <div class="card-body">
            <form asp-action="Edit" class="forms-sample">
                <input type="hidden" asp-for="AccountId"/>
                <input type="hidden" asp-for="CreateDate"/>
                <input type="hidden" asp-for="Salt" />
                <input type="hidden" asp-for="Password" />
                <div class="form-group">
                    <label asp-for="FullName" class="control-label">Họ và tên</label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label">Số điện thoại</label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="control-label">Trạng thái</div>
                    <label class="custom-switch mt-2">
                        <input asp-for="Active" class="custom-switch-input">
                        <span class="custom-switch-indicator"></span>
                        <span class="custom-switch-description">Hoạt động</span>
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="RoleId" class="control-label">Quyền truy cập</label>
                    <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                </div>
                <button class="btn btn-success" type="submit"><i class="fa fa-plus-square space-icon"></i>Lưu</button>
                <a class="btn btn-dark" asp-action="Index"><i class="fa fa-reply space-icon"></i>Quay lại</a>
            </form>
        </div>
    </div>
</div>