@model List<Product>
@{
    string currency = "₫";
    string percent = "%";
}
@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        string url = $"/San-pham/{item.Alias}-{item.ProductId}";
        int price = item.Price.HasValue?item.Price.Value : 0;
        int discount = item.Discount.HasValue ? item.Discount.Value : 0;
        int discountPrice = (price * (100 - discount))/100;
        <a class="row" href="@url">
            <div class="col-2">
                <img width="80" height="80" src="~/images/products/@item.Thumb">
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-12 p-0">
                        <p class="text-primary">@item.ProductName</p>
                    </div>
                    <div class="col-12 p-0 info-suggest-product">
                        <p class="text-price">
                            @price.ToString("#,#0")@currency
                        </p>
                        <p class="text-discount-price pl-2">
                            @discountPrice.ToString("#,#0")@currency
                        </p>
                        <p class="text-discount pl-2">
                            @discount@percent
                        </p>
                    </div>
                </div>
            </div>
        </a>
    }
}