@model WebsiteKaichiTokyo.Models.Category
@{
    ViewData["Title"] = "Thêm danh mục mới";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="~/assets/summernote/summernote-bs4.min.css" rel="stylesheet" />
    <link href="~/assets/summernote/summernote.min.css" rel="stylesheet" />
}
<div class="section-header">
    <h1>Thêm danh mục mới</h1>
</div>
<div class="section-body">
    <form class="form-sample" enctype="multipart/form-data" asp-area="Admin" asp-controller="AdminCategories" asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-lg-8">
                <div class="card card-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Title" class="control-label">Tiêu đề</label>
                            <input asp-for="Title" placeholder="Tiêu đề" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Mô tả</label>
                            <textarea asp-for="Description" id="summernote" placeholder="Mô tả thông tin danh mục" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-plus-square space-icon"></i>Thêm danh mục</button>
                        <a class="btn btn-dark" asp-action="Index"><i class="fa fa-reply space-icon"></i>Quay lại</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="CatName" class="control-label">Tên danh mục</label>
                            <input asp-for="CatName" placeholder="Tên danh mục" class="form-control" />
                            <span asp-validation-for="CatName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ParentId" class="control-label">Danh mục cha</label>
                            <select asp-for="ParentId" class="form-control" asp-items="@ViewBag.CatParent">
                                <option selected disabled>Chọn danh mục</option>
                                <option value="0">Không</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Thumb" class="control-label">Hình ảnh</label>
                            <input asp-for="Thumb" name="fThumb" class="form-control-file" type="file" />
                            <span asp-validation-for="Thumb" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="control-label">Trạng thái</div>
                            <label class="custom-switch mt-2">
                                <input asp-for="Published" class="custom-switch-input">
                                <span class="custom-switch-indicator"></span>
                                <span class="custom-switch-description">Hoạt động</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label asp-for="MetaDesc" class="control-label"></label>
                            <input asp-for="MetaDesc" placeholder="MetaDesc" class="form-control" />
                            <span asp-validation-for="MetaDesc" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MetaKey" class="control-label"></label>
                            <input asp-for="MetaKey" placeholder="MetaKey" class="form-control" />
                            <span asp-validation-for="MetaKey" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script src="~/assets/summernote/summernote-bs4.min.js"></script>
    <script src="~/assets/summernote/summernote.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            $('#summernote').summernote({
                fontNames: ['Segoe UI', 'arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
                styleTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5'],
                height: 400,
                minHeight: null,
                maxHeight: null,
            });
        });
    </script>
}
