@model List<Product>
@{
    string currency = "₫";
}
@if (Model != null)
{
    @foreach (var item in Model)
    {
        int? price=item.Price;
        if (item.Price != null && item.Discount !=null)
        {
            price = item.Price - (item.Price * item.Discount) / 100;
        }
        string url = $"/San-pham/{item.Alias}-{item.ProductId}";
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="featured__item">
                <div class="featured__item__pic set-bg" style="background-image:url(/images/products/@item.Thumb)" data-setbg="/images/products/@item.Thumb">
                    <ul class="featured__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    @if (item.Discount > 0)
                    {
                        <div class="product__discount__percent">10%</div>
                    }
                </div>
                <div class="featured__item__text">
                    <h6><a href="@url">@item.ProductName</a></h6>
                    <h5>@price.Value.ToString("N0")@currency</h5>
                </div>
            </div>
        </div>
    }

}
